*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
     background-color: rgba(255, 255, 255, 1);
 .main__header{
  position:relative;
    .left__header{
      
   .logo{
  
    img{
    width:108px;
    height:100px;
    }
   }
   .nav{
      
    li{
       
        color: rgba(5, 11, 32, 1);
        svg{
          width:12px;
          height:12px;
        }
    }
    .about__pagge{
        
      
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
   }

   .contact{
    svg{
      width:16px;
      height:16px;
    }
    h4{
 color: rgba(5, 11, 32, 1);
    }
   } 
}
   .menu__icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}
   .right__header{
   
    .sign{ 
      svg{
        height:15px;
        width:14px;
      } 
   h3{
    color: rgba(5, 11, 32, 1); 
   }
  }
   button{
    border:1px solid   rgba(5, 11, 32, 1);
    border-radius: 16px;
   }
   }
  
 }   
}

/* Mobile */
// @media (max-width: 1050px) {
//   .container {
//     .main__header {
    
//  .nav {
 
//     position: absolute;
//     top: 100%;
//     left: 0;
//     width: 100%;
//     background: white;
//     display: none;
//     padding: 20px 0;
// display: none;
//     ul {
//       flex-direction: column;
//       gap: 20px;
//       align-items: center;
//     }

//     &.active {
//       display: block;
//     }
//   }

//   .contact {
//     display: none;
//   }

//       .menu__icon {
//         display: block; // show menu icon on mobile
//       }
//       .right__header{
       
//       }

//     }
//   }
// }
@media (max-width: 640px) {
  .container {
    .main__header {
      position: relative;

      /* MOBILE NAV */
      .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        display: none;
        padding: 20px 0;
        z-index: 99;
       

        ul {
          flex-direction: column;
          gap: 20px;
          align-items: center;
        }

        &.active {
          display: block;
        }
      }

      /* HIDE CONTACT */
      .contact {
        display: none;
      }

      /* SHOW MENU ICON */
      .menu__icon {
        display: block;
        cursor: pointer;
        svg{
          width:15px;
          height:16px;
        }
      }

      /* HIDE RIGHT HEADER */
      .right__header {
        display: none;
      }
    }
  }
}
@media (max-width: 1020px){
  .container {
    .main__header {
      
      position: relative;

      /* MOBILE NAV */
      .nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        display: none;
        padding: 20px 0;
        z-index: 99;

        ul {
          flex-direction: column;
          gap: 20px;
          align-items: center;
        }

        &.active {
          display: block;
        }
      }

      /* HIDE CONTACT */
      .contact {
        display: none;
      }

      /* SHOW MENU ICON */
      .menu__icon {
        display: block;
        cursor: pointer;
        svg{
          width:15px;
          height:16px;
        }
      }

      /* HIDE RIGHT HEADER */
      .right__header {
        // order:2;
      }
    }
  }
}


