.card__container {
    margin: 50px 75px;

    /* slick base */
    .slick-track {
        display: flex;
        align-items: stretch;
    }

    .card {
        h2 {
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
        }

        /* menu */
        .card__menu {
            border-bottom: 1px solid #e9e9e9;
            margin-bottom: 20px;

            ul {
                display: flex;
                gap: 30px;
                list-style: none;
                justify-content: center;
                align-items: center;
                padding: 14px 0 11px;

                li {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 29px;
                    padding-bottom: 10px;
                    cursor: pointer;
                }

                .active {
                    border-bottom: 2px solid rgba(64, 95, 242, 1);
                }
            }
        }

        /* slider cards */
        .cards {
            .slick-slide {
                padding: 0 15px;
                box-sizing: border-box;
            }

            .slick-list {
                margin: 0 -15px;
            }

            .slick-slide>div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            .car__card {
                width: 100%;
                max-width: 328px;
                height: 433px;
                border: 1px solid #e9e9e9;
                border-radius: 16px;
                overflow: hidden;
                position: relative;
                background: #fff;

                img {
                    width: 100%;
                    height: 218px;
                    object-fit: cover;
                }

                /* tag */
                .tag {
                    position: absolute;
                    top: 23px;
                    left: 20px;
                    padding: 3px 15px;
                    font-size: 14px;
                    line-height: 25px;
                    border-radius: 30px;
                    color: #fff;
                    font-weight: 500;
                }

                .tag--sale {
                    background-color: rgba(64, 95, 242, 1);
                }

                .tag--great-price {
                    background-color: rgba(61, 146, 58, 1);
                }

                /* bookmark */
                button {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    padding: 12px 14px;
                    background: #fff;
                    border-radius: 50%;
                    cursor: pointer;

                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }

                .car__content {
                    padding: 0 31px;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 21px;
                        padding-top: 17px;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;
                        padding: 5px 0;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 266px;
                    }

                    .specifications {
                        border-block: 1px solid #e9e9e9;
                        display: flex;
                        justify-content: space-between;
                        text-align: center;
                        padding: 17px 0 14px;

                        .spec {
                            svg {
                                width: 18px;
                                height: 18px;
                            }

                            p {
                                font-size: 14px;
                                line-height: 14px;
                            }
                        }
                    }

                    h6 {
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 400;
                        text-decoration: line-through;

                    }

                    .price {
                        display: flex;
                        gap: 40px;
                        justify-content: center;
                        align-items: center;
                        padding: 16px 0 10px;

                        h5 {
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                        }

                        a {
                            font-size: 15px;
                            font-weight: 500;
                            color: rgba(64, 95, 242, 1);
                            text-decoration: none;
                            display: inline-flex;
                            align-items: center;
                            gap: 6px;

                            svg {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* arrows */
    .slider__arrow {
        margin-top: 40px;
        position: absolute;
        top: 100%;
        z-index: 5;
        padding: 15px 26px;
        border-radius: 30px;
        border: 1px solid #e9e9e9;
        background: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 12px;
            height: 12px;
        }
    }

    .slider__arrow.left {
        left: 44%;
    }

    .slider__arrow.right {
        right: 44%;
    }
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
    .card__container {
        .card {
            h2 {
                font-size: 30px;
                line-height: 34px;
            }
        }

        .slider__arrow.left {
            left: 38%;
        }

        .slider__arrow.right {
            right: 38%;
        }
    }
}

@media (max-width: 767px) {
    .card__container {

        .card {
            h2 {
                font-size: 20px;
                line-height: 28px;
                text-align: center;
            }

            .card__menu {
                ul {
                    display: flex;
                    gap: 13px;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

        .cards {
            .slick-track {
                display: flex !important;
                justify-content: center !important;
            }

            .slick-slide {
                width: 100% !important;
                display: flex !important;
                justify-content: center !important;
            }

            .slick-slide>div {
                display: flex;
                justify-content: center;
            }

            .car__card {
                margin: 0 auto; // 🔥 centers the card
            }
        }

        /* mobile arrows */
        .slider__arrow.left {
            left: 25%;
        }

        .slider__arrow.right {
            right: 25%;
        }
    }
}